{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>system management </span>initialize database</h1>
    </div>

    <div class="col-md-6">

        <p>please check if 'PROJECT_ROOT/var/sqlite' folder accessible for console application as well as for web server. </p>

        <hr class="line">
        
        <p>run the following script to create database scheme. </p>
        <pre>
        php bin/console doctrine:schema:update --force</pre>

        <hr class="line">

        <form method="post" action="">

            <div class="form-group">
                <label for="action" class="">check here...</label>
                <input type="checkbox" name="action" id="action" value="initialize">
            </div>

            <input type="submit" value="initialize" class="btn btn-primary">
            <a href="/" class="btn btn-default">return to top</a>

        </form>


    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
