{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>task manager </span>by dates</h1>
    </div>

    <div class="col-md-4 col-sm-6 task-project">
        <h2>No dates</h2>
        <div class="task-group">
            <h3>NSB</h3>
            <ul class="list-group">
                <li class="list-group-item"><label><input type="checkbox"> </label> 保険アプリ</li>
                <li class="list-group-item"><label><input type="checkbox"> </label> JFAEL</li>
            </ul>
        </div>
        <div class="task-group">
            <h3>伝熱</h3>
            <ul class="list-group">
                <li class="list-group-item"><label><input type="checkbox"> </label> 参加登録：クレジットカード対応</li>
                <li class="list-group-item"><label><input type="checkbox"> </label> 入会システムの構築</li>
            </ul>
        </div>

    </div>

    <div class="col-md-4 col-sm-6 task-project">
        <h2>today</h2>
    </div>

    <div class="col-md-4 col-sm-6 task-project">
        <h2>this week</h2>
    </div>

    <div class="col-md-4 col-sm-6 task-project">
        <h2>later...</h2>
    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
