parameters:

services:
    app.project-crud: 
        class:  AppBundle\Controller\CrudService\ProjectCrud
        arguments:  ["@doctrine.orm.default_entity_manager", "@form.factory"]
        
    app.group-crud:
        class:  AppBundle\Controller\CrudService\GroupCrud
        arguments:  ["@doctrine.orm.default_entity_manager", "@form.factory", "@router"]
        
    app.task-crud:
        class: AppBundle\Controller\CrudService\TaskCrud
        arguments:  ["@doctrine.orm.default_entity_manager", "@form.factory", "@router"]

    app.query-by-project:
        class: AppBundle\Controller\QueryService\ByProjectView
        arguments: ["@doctrine.orm.default_entity_manager"]
        
    app.query-task-summary:
        class: AppBundle\Controller\QueryService\TaskSummary
        arguments: ["@doctrine.orm.default_entity_manager"]