{% extends 'base.html.twig' %}

{% block title %}
    Symfony To-Do
{% endblock %}

{% block body %}

    <div id="welcome">
        <h1><span>task manager </span>projects at a glance</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th rowspan="2">project</th>
                <th colspan="4">completed tasks</th>
                <th rowspan="2">remaining tasks</th>
                <th rowspan="2">completion&nbsp;(%)</th>
            </tr>
            <tr>
                <th>today</th>
                <th>yesterday</th>
                <th>last week</th>
                <th>all</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>NSB <a href="/projects/1000"><span class="small glyphicon glyphicon-pencil"></span></a></th>
                <td>0</td>
                <td>3</td>
                <td>6</td>
                <td>9</td>
                <td>12</td>
                <td>45%</td>
            </tr>
            <tr>
                <th>CPE</th>
                <td>1</td>
                <td>5</td>
                <td>4</td>
                <td>16</td>
                <td>2</td>
                <td>92%</td>
            </tr>
            <tr>
                <th>保険アプリ</th>
                <td>5</td>
                <td>2</td>
                <td>5</td>
                <td>7</td>
                <td>30</td>
                <td>25%</td>
            </tr>
            <tr>
                <th>プライベート</th>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>26</td>
                <td>20</td>
                <td>40%</td>
            </tr>
            </tbody>
        </table>
    </div>

    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
